/*
group: history team.
date: 12/5/2025
*/

/*css reset*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', serif;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}

/* Styles */

/* Main Styles */
main {
  background-color: #E0D3AF;
  padding: 2%;
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

p {
  padding-bottom: 2%;
}

img {
  width: 100%;
  height: auto;
}

/* Sticky Logo */
.sticky-logo {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 85px;
  width: auto;
  z-index: 1000;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Nav Styles */
nav {
  background-color: slategray;
}

nav ul {
  display: none;
}

nav li {
  display: block;
  background-color: #C0B38f;
  border: 1px solid black;
  list-style: none;
}

nav li a {
  color: black;
  text-decoration: none;
  padding-left: 2%;
}

.menu-icon {
  height: 2rem;
}

.menu-icon a {
  display: inline-block;
  position: absolute;
  font-size: 1.25rem;
  height: 1.8rem;
  width: 1.8rem;
  background-color: #A0936f;
  border-radius: 8px;
  text-align: center;
  right: 1%;
  margin-top: 0.1rem;
  user-select: none;
}

/* Styles for the Home Page */
/* Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: auto;
  column-gap: 2%;
  place-items: center;
}

.grid-container a {
  text-decoration: none;
  align-self: center;
}

.grid-container img {
  width: 100%;
  height: auto;
}

.grid-container figcaption {
  color: black;
  font-weight: bold;
  text-align: center;
}

/* Styles for WWI Page */
.quiz-ans {
  display: none;
  padding-left: 2%;
}

.quiz-btn {
  padding: 0.5% 1%;
  background-color: #D0C39F;
  border-radius: 8px;
}


/* Tablet Styles */
@media screen and (min-width: 630px) {
  .mobile {
    display: none;
  }
  .tablet-desktop {
    display: block;
  }

  /* Tablet Grid Styles */
  .grid-container {
    grid-template-columns: auto auto;
  }
}

/* Desktop Styles */
@media screen and (min-width: 1015px) {
  .mobile {
    display: none;
  }
  .tablet-desktop {
    display: block;
  }

  /* Tablet Grid Styles */
  .grid-container {
    grid-template-columns: auto auto auto;
  }
}