/*
group: history team.
date: 12/5/2025
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*css reset*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}

/* Styles */

/* Sticky Logo */
.sticky-logo {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 85px;
  width: auto;
  z-index: 1000;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Nav Styles */
nav {
  background-color: blue;
}

nav ul {
  display: none;
}

nav li {
  display: block;
  background-color: lightblue;
  border: 1px solid black;
  list-style: none;
}

nav li a {
  color: black;
  text-decoration: none;
  padding-left: 2%;
}

.menu-icon {
  height: 2em;
}

.menu-icon a {
  display: block;
  float: right;
  font-size: 1.25em;
  padding: 0 10px;
}

/* Tablet Styles */
@media screen and (min-width: 630px) {
  .mobile {
    display: none;
  }
}

/* Desktop Styles */
@media screen and (min-width: 1015px) {
  .mobile {
    display: none;
  }
}